.main-select-list {
  background: #fff;
}
.modal-head {
  border-bottom: 1px solid #333;
  padding: 20px 15px;
}
.select-list {
  ul {
    padding: 0px;
    list-style-type: none;
    min-height: 60vh;
    overflow-y: auto;
  }
}
.select-list {
  ul {
    li {
      padding: 0px;
      list-style-type: none;
      position: relative;
      cursor: pointer;
    }
  }
}
.select-list {
  ul {
    li {
      label {
        padding: 15px;
        font-size: 14px;
        color: #999999;
        font-weight: bold;
        box-shadow: 3px 3px 8px #e6e6e6;
        background: #fff;
        margin-bottom: 5px;
      }
    }
  }
}
.select-list ul li input[type="radio"]:checked + label {
  background: rgba(103, 170, 90, 0.25);
  color: #333;
}
.select-list {
  ul {
    li {
      label {
        span {
          color: #999999;;
        }
      }
    }
  }
}

.select-list ul li input[type="radio"] {
  visibility: hidden;
  display: none;
}
.modal-footer {
  border-top: 1px solid;
  padding: 10px;
}
