<main class="main-page">
  <app-header></app-header>
  <div class="account-list">
    <ul>
      <li>
        <span class="icon-calender icon-list"></span>
        <span>
          Today, 28 Aug, 19
        </span>
      </li>
      <li>
        <span class="icon-pencil icon-list"></span>
        <span class="text-gray">Write a note</span>
      </li>
      <li>
        <span class="icon-payment icon-list"></span>
          <div class="clearfix width-100">
              <p class="text-gray">Withdrawal from</p>
              <p>Banl of America</p>
          </div>
          <span class="width-100 text-right text-gray">$100
              <a href="javascript:void(0)" class="text-gray ml-1">
                  <i class="icon-arrow-right"></i>
                </a>
            </span>
      </li>
      <li>
        <span class="icon-payment icon-list"></span>
        <div class="width-100">
          <p class="text-gray">Deposit to</p>
          <p>Emirates NBD</p>
        </div>
        <span class="width-100 text-right text-gray">AED 350
          <a href="javascript:void(0)" class="text-gray ml-1">
            <i class="icon-arrow-right"></i>
          </a>
        </span>
      </li>

      <li>
        <span class="icon-switch-icon icon-list"></span>
        <div class="width-100">
          <p class="text-gray">Conversion Rates</p>
          <span>
              1 AED <span class="pr-1 pl-1">=</span> <input type="text" placeholder="0.27" class="text-right"> USD
          </span>
        </div>
        <span class="text-right d-flex align-items-end pb-05">
          <a href="javascript:void(0)" class="text-gray">
            <i class="icon-sort"></i>
          </a>
        </span>
      </li>

    </ul>
  </div>
</main>
