.main-select-list {
  background: #fff;
}
.modal-head {
  border-bottom: 1px solid #333;
  padding: 20px 15px;
}
.select-list {
  ul {
    padding: 0px;
    list-style-type: none;
    min-height: 60vh;
    overflow-y: auto;
  }
}
.select-list {
  ul {
    li {
      padding: 0px;
      list-style-type: none;
      position: relative;
      cursor: pointer;
    }
  }
}
.select-list {
  ul {
    li {
      label {
        display: block;
        padding: 15px;
        font-size: 16px;
        color: #333333;
        cursor: pointer;
      }
    }
  }
}
.select-list ul li label i {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 15px;
  color: #F2913B;
  font-size: 12px;
}
.select-list ul li input[type="radio"]:checked + label > i {
  opacity: 1;
  visibility: visible;
}

.select-list ul li input[type="radio"] {
  visibility: hidden;
  display: none;
}
.modal-footer {
  border-top: 1px solid;
  padding: 10px;
}
