<div class="main-select-list">
    <div class="modal-head">
      <h3 class="mb-0">Select Mode</h3>
    </div>
    <div class="select-list">
      <ul class="mt-0">
        <li *ngFor="let SelectWithdrawal of SelectWithdrawalAC; let i = index">
          <input name="Sales" id="{{'select' + i}}" type="radio">
          <label for="{{'select' + i}}" class="d-flex justify-content-between">
            <span><i class="icon-cash mr-05 font-12 text-gray"></i>
              {{SelectWithdrawal.selectItem}}</span>
            <span class="font-12 text-gray"> {{SelectWithdrawal.itemPrice | currency:'USD'}}</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="modal-footer text-right">
      <div class="clearfix">
        <a href="javascript:void(0)" mat-button class="btn text-primary">Next</a>
      </div>
    </div>
  </div>
